{
  "input": {
    "topicName": "collected-good"
    "bootstrapServers": "warp:9092"

    # WarpStream specific consumer configuration
    # See https://kafka.apache.org/documentation/#consumerconfigs
    "consumerConf": {
        "metadata.max.age.ms" : "60000"
        "fetch.max.bytes" : "50242880"
        "max.partition.fetch.bytes" : "50242880"
        "fetch.max.wait.ms" : "10000"
        "metadata.recovery.strategy" : "rebootstrap"
    }

  }

  "output": { 
    "good": {
      "topicName": "enriched-good"
      "bootstrapServers": "warp:9092"

      # WarpStream specific producer configuration
      # See  https://docs.warpstream.com/warpstream/kafka/configure-kafka-client/tuning-for-performance#producer-settings
      "producerConf" {
        "acks" : "all"
        "enable.idempotence" : "false"
        "max.in.flight.requests.per.connection" : "1000"
        "request.timeout.ms": "30000"
        "delivery.timeout.ms": "120000"
        "linger.ms" : "100"
        "metadata.max.age.ms" : "60000"
        "batch.size" : "100000"
        "buffer.memory" : "128000000"
        "max.request.size" : "64000000"
        "compression.type" : "lz4"
        "metadata.recovery.strategy" : "rebootstrap"
      }
      
    }

    "bad": {
      "topicName": "enriched-bad"
      "bootstrapServers": "warp:9092"
    }
  }

  "monitoring": {
    "metrics": {
      # Optional. Log to stdout using Slf4j
      "stdout": {
        "period": "30 seconds"
      }
    }
  }
}
