collector {
  interface = "0.0.0.0"
  port = 8080

  streams {
    good = "collected-good"
    bad = "collected-bad"

    sink {
      brokers = "warp:9092"
      
      # WarpStream specific producer configuration
      # See  https://docs.warpstream.com/warpstream/kafka/configure-kafka-client/tuning-for-performance#producer-settings
      producerConf {
        "enable.idempotence" = false
        "max.in.flight.requests.per.connection" = 1000
        "linger.ms" = 100
        "metadata.max.age.ms" = 60000
        "batch.size" = 100000
        "buffer.memory" = 128000000
        "max.request.size" = 64000000
        "compression.type" = lz4
        "metadata.recovery.strategy" = rebootstrap
      }


    }
  }
}
