{
  "input": {
    "topicName": "collected-good"
    "bootstrapServers": "warp:9092"
  }

  "output": {
    "good": {
      "topicName": "enriched-good"
      "bootstrapServers": "warp:9092"
    }

    "bad": {
      "topicName": "enriched-bad"
      "bootstrapServers": "warp:9092"
    }
  }

  # Optional. Configuration for experimental/preview features
  #"experimental": {
    # - FlattenedJson: encodes the output as JSON, where unstruct_event, contexts and derived_contexts are flattened
    # - EventbridgeJson: encodes the output as JSON with extra details, intended exclusively to use with eventbridge module.
    # - BigQueryJson: encodes the output as JSON with the expected time format supported by BigQuery.
    # - SkinnyJson: encodes just the payload and collector inside a JSON object
    # "customOutputFormat": {
    #   "type": "EventbridgeJson"
    #   "payload": true
    #   "collector": true
    # }
  #}

  "monitoring": {
    "metrics": {
      # Optional. Log to stdout using Slf4j
      "stdout": {
        "period": "30 seconds"
      }
    }
  }
}
